body{
    display: flex;
    justify-content: center;
    background-image:url(https://plus.unsplash.com/premium_photo-1686361282530-e7392d8cb347?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YmxhY2slMjB0ZXh0dXJlJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
}
form{
    background-image: url(https://wallpapers.com/images/hd/black-texture-background-1i4lpdualskntfhr.jpg);
    border:20px groove white;
    color: white;
    backface-visibility: hidden;
}
td{
    width: 300px;
    padding: 5px;
    
}